.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2rem 1.5rem;

}

.banner__titulo {
    font-size: 1.125rem;
    font-weight: 700;
}

.banner__texto {
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem 1.5rem;
    line-height: 1.5rem;
}

.banner__pesquisa {
    margin-top:1rem;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 1.5rem;
    background-color: transparent;
    width: 100%;
    font-size:0.8rem;
    font-weight: 400;
    padding: 1rem;

}

.banner__pesquisa::placeholder {
    font-family: var(--fonte);
    font-size: 1rem;
    font-weight:400;
    text-align: center;
    color: var(--branco);
    background: url(./images/Lupa.svg) no-repeat;
    background-position: 0.1rem;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 2.25rem;
    }

    .banner__pesquisa {
        width: 40%;
    }

    .banner__pesquisa::placeholder {
        background-position: 1.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        width: 35%;
    }
    .banner__pesquisa::placeholder {
        background-position: 5rem;
    }
    .banner {
        padding: 5rem;
    }
}