.carrossel {
    background-color: var(--cor-de-fundo);
}

.carrossel__titulo {
    text-align: center;
    padding: 1rem 0 0.5rem 0;
    background-color: var(--branco);

    font-size: 1.13rem;
    font-weight: 700;
    color: var(--laranja);
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
    --swiper-pagination-color: black;
    
}

.card {
    background-color: var(--branco);
    margin: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    padding: 1.3rem 1rem;

}
.card__descriçao {
    display: flex;
    justify-content: space-between;
    line-height: 1.5rem;
    gap:0.5rem;

}

.descriçao__titulo {
    color: var(--laranja);
    font-size: 1rem;
    font-weight: 700;
}

.descriçao__titulo-livro {
    color: var(--azul-escuro);
    font-size: 1.15rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.descriçao__texto {
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

.card__botoes {
    display: flex;
    justify-content: space-between;

}

.botoes {
    display: flex;
    gap:0.5rem;
    margin-top: 1.5rem;
}

.botoes__item {
    margin: 0.5rem 0.5rem 0 0.5rem;

}


.botoes__ancora {
    background-color: var(--laranja);
    text-align: center;
    color: var(--branco);
    padding: 1rem 2.2rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    margin-top: 0.5rem;
}

.botoes__ancora:active {
    background-color: var(--azul-escuro);
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 1.6rem;
        padding-top: 3rem;
    }

    .carrossel__container {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .swiper-pagination {
        margin: 2rem 0 3rem 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        margin: 1rem 1rem;
        width: 40%;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        flex-direction: row;
        padding: 0 20vw 3rem 20vw;
        align-items: center;

    }

    .swiper-pagination {
        margin: 1rem 0;
    }

    .swiper {
        width: 50%;
    }

    .descriçao__titulo {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .descriçao__texto {
        font-size: 1rem;
    }

    .descriçao {
        margin-right: 2rem;
    }
    .card {
        width: 70%;
        margin-left: 3rem;
        margin-top: 3rem;
    }

}