
hr {
    margin:0;
    color: var(--cinza-escuro);
    border-bottom-color: var(--branco-rodape); 

}

.rodape {
    padding: 1.5rem;
    background-color: var(--branco-rodape);
}

.rodape__titulo {
    color: black;
}

.lista-rodapé {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        background: var(--branco-rodape);
        justify-content: space-evenly;
        padding: 3.5rem 1.5rem;
    }

    .rodape__titulo {
        font-size: 1.5rem;
    }

    .lista-rodapé {
        padding: 0 0 4.3rem 0;
        display: block;
    }

    .lista-rodapé__titulo {
        padding: 0 0 2rem 2rem;
        color: var(--cinza-escuro);
        text-transform: uppercase;
    }

    .lista-rodapé__item {
        padding: 0.5rem 1.75rem;
        display: flex;
        text-align: center;
    }

    .lista-rodapé__link {
        text-decoration: none;
        padding: 0.5rem;
        color: var(--cinza-rodapé);


    }
}

@media screen and (min-width: 1728px) {
    .rodape {
        padding: 3.75rem;
    }
    .lista-rodapé {
        border-left: 1px solid var(--cinza-escuro);
        padding: 0.5rem;
    }


}