.cabecalho__menu-hamburguer {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../assets/images/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.container__botao:checked ~ .container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url(../assets/images/Menu\ Aberto.svg);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1rem 0 1rem;
}

.container {
    display: flex;
    align-items: center;
    height: 5rem;
}

.container__imagem-logo {
    padding: 1rem;
}

.container__imagem {
    padding: 0.5rem;
    margin: 0.5rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 18.75rem;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.lista-menu__titulo, 
.lista-menu__item {
    padding:1.5rem;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
  }

.lista-menu__link {
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__titulo, .opçoes, .container__texto-complementar {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 1.9rem;
        color: black;
    }


    .container__titulo {
        font-weight: 400;
        display: block;
        padding-top: 0.3rem;
    }

    .container__botao {
        display: none;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opçoes {
        display:flex;
        color: black;

    }


    .opçoes__item {
        padding: 0 1rem;
        text-transform: uppercase;
        font-size: 1rem;
    }

    .opçoes__link {
        text-decoration: none;
    }

    .container__imagem-transparente {
        display: none;
    }

    .container__imagem {
        margin: 0 5rem 0 0;
    }

    .cabeçalho {
        padding: 0 0 0 5rem;
    }
    
    .cabecalho__menu-hamburguer {
        display: none;
    }
    
    .container__imagem-logo {
        padding: 0 1rem 0 5rem;
    }

    .opçoes__botao:checked ~ .opçoes__rotulo > .opçoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 11rem;
    }

    .container__botao {
        display: none;
    }
    
    .opçoes__botao:checked ~ .lista-menu {
        display: block;
    }

    .opçoes__botao, .container__texto-complementar {
        display: none;
    }
    .opçoes__item {
        padding: 2rem 1rem;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        text-decoration: none;
        align-items: center;
        color: black;
    }

    .container__texto-complementar {
        display: block;
        padding: 0 3.8rem 0 0;
    }

    .container__imagem-logo {
        padding: 0 1rem 0 5rem;
    }

    .container__imagem {
        margin: 0 0.5rem 0 0;
    }

    .opçoes {
        margin-right: auto;
    }

    .cabeçalho {
        padding: 0 0 0 5rem;
    }

    .opçoes__botao:checked ~ .opçoes__rotulo > .opçoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opçoes__item {
        padding: 2rem 1rem;
    }

}
